<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <display-name>oatOS Web</display-name>
  <description>oatOS Web</description>
  <context-param>
    <param-name>maxSize</param-name>
    <param-value>104857600</param-value>
  </context-param>
  <context-param>
    <description>The URL of the Message Broker to connect to</description>
    <param-name>org.apache.activemq.brokerURL</param-name>
    <param-value>failover:(tcp://192.168.1.54:61616)</param-value>
  </context-param>
  <context-param>
    <description>Whether we should include an embedded broker or not</description>
    <param-name>org.apache.activemq.embeddedBroker</param-name>
    <param-value>false</param-value>
  </context-param>
  <listener>
    <listener-class>com.qycloud.web.servlets.SystemInitListener</listener-class>
  </listener>
  <filter>
    <filter-name>htmlfilter</filter-name>
    <filter-class>com.conlect.oatos.http.HTMLFilter</filter-class>
  </filter>
  <filter>
    <filter-name>session</filter-name>
    <filter-class>com.qycloud.web.activemq.SessionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Continuation</filter-name>
    <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>jettyGzipFilter</filter-name>
    <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
    <init-param>
      <param-name>mimeTypes</param-name>
      <param-value>text/javascript,application/x-javascript,text/html,text/css,image/gif,image/png</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>htmlfilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>session</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Continuation</filter-name>
    <url-pattern>/amq/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>jettyGzipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.qycloud.web.activemq.SessionListener</listener-class>
  </listener>
  
  <!-- TODO 文件上传服务 -->
 <!--  <servlet>
    <description>上传文件</description>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.FileUploadServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping> -->
  
   <servlet-mapping>
    <servlet-name>SectionFileUploadServlet</servlet-name>
    <url-pattern>/sectionFileUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>htmlservlet</servlet-name>
    <servlet-class>com.conlect.oatos.http.HTMLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>htmlasjsservlet</servlet-name>
    <servlet-class>com.conlect.oatos.http.HTMLAsJSServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VerifierServlet</display-name>
    <servlet-name>VerifierServlet</servlet-name>
    <servlet-class>com.qycloud.web.VerifierServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FlexService</display-name>
    <servlet-name>FlexService</servlet-name>
    <servlet-class>com.qycloud.web.FlexServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>TakePictureServlet</display-name>
    <servlet-name>TakePictureServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.TakePictureServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>VoiceRecordServlet</display-name>
    <servlet-name>VoiceRecordServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.VoiceRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SyncFileDownloadServlet</display-name>
    <servlet-name>SyncFileDownloadServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.SyncFileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FileRoutingUploadServlet</display-name>
    <servlet-name>FileRoutingUploadServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.FileRoutingUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>FileRoutingServlet</display-name>
    <servlet-name>FileRoutingServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.FileRoutingServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>P2PConfigServlet</display-name>
    <servlet-name>P2PConfigServlet</servlet-name>
    <servlet-class>com.qycloud.web.P2PConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>chatclientwindowNocache</servlet-name>
    <servlet-class>com.qycloud.web.ChatClientWindowNocacheJsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>TakePictureAndSaveServlet</display-name>
    <servlet-name>TakePictureAndSaveServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.TakePictureAndSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ScreenshotServlet</display-name>
    <servlet-name>ScreenshotServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.ScreenshotServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>VersionServlet</display-name>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.qycloud.web.VersionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.qycloud.web.activemq.AjaxServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>check connection and subscribe information</description>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>com.qycloud.web.activemq.StatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SectionFileUploadServlet</display-name>
    <servlet-name>SectionFileUploadServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.SectionFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SyncFileUploadServlet</display-name>
    <servlet-name>SyncFileUploadServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.SyncFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PropFileServlet</display-name>
    <servlet-name>PropFileServlet</servlet-name>
    <servlet-class>com.qycloud.web.PropFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>send message</description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.qycloud.web.SendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>configure</description>
    <display-name>ConfigServlet</display-name>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.qycloud.web.ConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlservlet</servlet-name>
    <url-pattern>/html/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>htmlasjsservlet</servlet-name>
    <url-pattern>/htmlasjs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifierServlet</servlet-name>
    <url-pattern>/verifierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlexService</servlet-name>
    <url-pattern>/flexService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TakePictureServlet</servlet-name>
    <url-pattern>/swf/takePicture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoiceRecordServlet</servlet-name>
    <url-pattern>/swf/recordVoiceMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/file/fileDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SyncFileDownloadServlet</servlet-name>
    <url-pattern>/file/sectionOnlineFileDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileRoutingUploadServlet</servlet-name>
    <url-pattern>/fileRoutingUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileRoutingServlet</servlet-name>
    <url-pattern>/onlinedisk/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>P2PConfigServlet</servlet-name>
    <url-pattern>/getP2PConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TakePictureAndSaveServlet</servlet-name>
    <url-pattern>/sc/file/tackPictureAndSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenshotServlet</servlet-name>
    <url-pattern>/sc/file/screenshot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/getVersion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chatclientwindowNocache</servlet-name>
    <url-pattern>/ChatClientWindow/ChatClientWindow.nocache.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/amq/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>SyncFileUploadServlet</servlet-name>
    <url-pattern>/sectionOnlineFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PropFileServlet</servlet-name>
    <url-pattern>/bundle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/sendmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/getConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiskFileCheckServlet</servlet-name>
    <servlet-class>com.qycloud.web.clouddisk.CheckDiskFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiskFileCheckServlet</servlet-name>
    <url-pattern>/checkDiskFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadMailAttachServlet</servlet-name>
    <servlet-class>com.qycloud.web.mail.DownloadMailAttachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMailAttachServlet</servlet-name>
    <url-pattern>/servlet/downloadMailAttach</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mailAction</servlet-name>
    <servlet-class>com.qycloud.web.mail.MailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailAction</servlet-name>
    <url-pattern>/servlet/mail.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TemplateServlet</servlet-name>
    <servlet-class>com.qycloud.web.servlets.TemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemplateServlet</servlet-name>
    <url-pattern>/servlet/template</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>