body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure {
    margin: 0;
    padding: 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse
}

section, article, aside, header, footer, nav, figure {
    display: block
}

.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both
}

body, button, input, select, textarea, td, th {
    color: #333;
    font: 12px/1.5 tahoma, arial, \5b8b\4f53

}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

address, cite, dfn, em, var {
    font-style: normal
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ul, ol {
    list-style: none
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset, img {
    border: 0 none
}

button, input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input:focus {
    outline: none
}

body {
    min-width: 768px;
    min-height: 768px;
    overflow-x: hidden;
    overflow-y: auto;
}

ul, ol {
    margin: 0 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

label {
    display: inline-block;
}

.ul-inline li {
    display: inline-block;
}