<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qycloud.oatos.server.dao.CustomerMapper">

	<resultMap id="CustomerResultMap" type="Customer">
		<id property="customerId" column="customer_id" />
		<result property="customerIP" column="customer_ip" />
		<result property="cloudDiskIp" column="cloud_disk_ip" />	
	</resultMap>

	<insert id="addCustomer" parameterType="Customer">
		INSERT INTO customer (customer_id, customer_ip, cloud_disk_ip)
		VALUES (#{customerId}, #{customerIP}, #{cloudDiskIp})
	</insert>

	<select id="getCustomerById" parameterType="long" resultMap="CustomerResultMap">
		SELECT customer_id, customer_ip, cloud_disk_ip
		FROM customer
		WHERE customer_id = #{customerId}
	</select>

</mapper>
