<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qycloud.oatos.server.dao.MailContactGroupMapper">

	<resultMap id="MailContactGroupResultMap" type="MailContactGroup">
		<id property="mailContactGroupId" column="mail_contact_group_id" />
		<result property="groupName" column="group_name" />
		<result property="userId" column="user_id" />
	</resultMap>
	
	<insert id="addMailContactGroup" parameterType="MailContactGroup">
		INSERT INTO mail_contact_group(mail_contact_group_id, group_name, user_id)
		VALUES(#{mailContactGroupId}, #{groupName}, #{userId});
	</insert>
	
	<select id="getMailContactGroupsByUserId" parameterType="long" resultMap="MailContactGroupResultMap">
		SELECT 
			mail_contact_group_id, group_name, user_id
		FROM 
			mail_contact_group
		WHERE 
			user_id = #{userId}
    </select>
    
    <delete id="deleteMailContactGroup" parameterType="long">
		DELETE FROM 
			mail_contact_group 
		WHERE 
			mail_contact_group_id = #{mailContactGroupId}
    </delete>
    
     <update id="updateMailContactGroup" parameterType="MailContactGroup">
		UPDATE 
			mail_contact_group 
		SET
			group_name = #{groupName}
		WHERE 
			mail_contact_group_id = #{mailContactGroupId}
    </update>
  
</mapper>
