<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID"
	version="2.4">
	<display-name>oatOS Web</display-name>
	<context-param>
		<param-name>maxSize</param-name>
		<param-value>104857600</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.activemq.brokerURL</param-name>
		<param-value>failover:(tcp://192.168.1.54:61616)</param-value>
	</context-param>
	<context-param>
		<description>Whether we should include an embedded broker or not</description>
		<param-name>org.apache.activemq.embeddedBroker</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:*spring-beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>app-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:app-mvc.xml</param-value>
		</init-param>
		<init-param>
			<param-name>detectAllHandlerExceptionResolvers</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>app-mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>session</filter-name>
		<filter-class>com.qycloud.web.activemq.SessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Continuation</filter-name>
		<filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>jettyGzipFilter</filter-name>
		<filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
		<init-param>
			<param-name>mimeTypes</param-name>
			<param-value>text/javascript,application/x-javascript,text/html,text/css,image/gif,image/png</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>session</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Continuation</filter-name>
		<url-pattern>/amq/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>jettyGzipFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter>
		<filter-name>requestPrintFilter</filter-name>
		<filter-class>com.qycloud.web.service.RequestPrintFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestPrintFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping> -->

	<servlet>
		<display-name>P2PConfigServlet</display-name>
		<servlet-name>P2PConfigServlet</servlet-name>
		<servlet-class>com.qycloud.web.P2PConfigServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>TakePictureAndSaveServlet</display-name>
		<servlet-name>TakePictureAndSaveServlet</servlet-name>
		<servlet-class>com.qycloud.web.clouddisk.TakePictureAndSaveServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ScreenshotServlet</display-name>
		<servlet-name>ScreenshotServlet</servlet-name>
		<servlet-class>com.qycloud.web.clouddisk.ScreenshotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>com.qycloud.web.activemq.AjaxServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PropFileServlet</display-name>
		<servlet-name>PropFileServlet</servlet-name>
		<servlet-class>com.qycloud.web.PropFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>configure</description>
		<display-name>ConfigServlet</display-name>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>com.qycloud.web.ConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>P2PConfigServlet</servlet-name>
		<url-pattern>/getP2PConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TakePictureAndSaveServlet</servlet-name>
		<url-pattern>/sc/file/tackPictureAndSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenshotServlet</servlet-name>
		<url-pattern>/sc/file/screenshot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/amq/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PropFileServlet</servlet-name>
		<url-pattern>/bundle/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/getConfig</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DiskFileCheckServlet</servlet-name>
		<servlet-class>com.qycloud.web.clouddisk.CheckDiskFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiskFileCheckServlet</servlet-name>
		<url-pattern>/checkDiskFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidationCodeServlet</servlet-name>
		<servlet-class>com.qycloud.web.servlets.ValidationCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidationCodeServlet</servlet-name>
		<url-pattern>validationCodeServlet.png</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WordVerifyService</servlet-name>
		<servlet-class>com.qycloud.web.servlets.WordVerificationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WordVerifyService</servlet-name>
		<url-pattern>/servlet/wordVerify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileRoutingServlet</servlet-name>
		<servlet-class>com.qycloud.web.clouddisk.FileRoutingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileRoutingServlet</servlet-name>
		<url-pattern>/onlinedisk/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>